h1 {
color:red;

}
p {
color: coral;
background-color: darkolivegreen;
}

address {
  color: black;

}
q {
  color: chartreuse;

}
h2 {color: gold;

}

#example-1 { 
    color: green;
}
#example-2{
  color: blue;
}
#example-3{
  color: blueviolet;
}
#example-4{
  color: coral;
}
#example-5{
  color: cyan;
}
.text-green{
  background-color: green;
  color: white;
}
.text-white{
  background-color: black;
  color: white;
}
.text-black{
  background-color: darkblue;
  color: white;
}