h1 {
color:red;

}
p {
color: coral;
}

address {
  color: black;
  -color: brown;
}
q {
  color: chartreuse;

}
h2 {color: gold;

}

#example-1 { 
    color: green;
}
#example-2{
  color: blue;
}
#example-3{
  color: blueviolet;
}
#example-4{
  color: coral;
}
#example-5{
  color: cyan;
}